@import "../CSS/UTILS/variabili.css";


@font-face {
    src: url(../CSS/UTILS/FONT/SuperaGothic-Bold.otf);
    font-family: suprabold;
}

@font-face { 
    src: url(../CSS/UTILS/FONT/SuperaGothic-Regular.otf);
    font-family: supraregular ;
}

@font-face {
    font-family: suprathin;
    src: url(../CSS/UTILS/FONT/SuperaGothic-Thin.otf);
}

@font-face{
    src: url(../CSS/UTILS/FONT/SuperaGothic-Light.otf);
    font-family: supralight;
}
/*DEFAULT SETTINGS */
*{
    margin: 0;
    padding: 0;
    font-family: supraregular;
    box-sizing: border-box;
    color: var(--ea-black);
 
    
    }
    h1{
      font-size: 3vh;
      color: var(--ea-lightgrey);
    }
    h2{
    font-size: 3vh;
    font-family: supraregular; 
    }
     h5:hover{
        color: var(--ea-theme-color);
      }
      h4{
        font-size: 1.4vh;

      }
      h6{
        font-size: 1.5vh;
        font-family:supraregular;  
      }
     
    p{
    font-size:var(--default-font-size);
    color: var(--ea-lightgrey);
    line-height: 3.2vh;
    }
    .small-text{
      font-size: 1.4vh;
      color: var(--ea-black);
    }
    hr{
      display: none;
      width: 85%;
      align-self: center;
      justify-content: center;
    }
    footer{
      display: flex;
      flex-direction: column;
      }
      a{
        text-decoration: none;
      }
      
     
      .main-padding{
        padding: 3% 19% 3% 12%;
      }

    /*PRIMA PARTE */
  
    .image-bar{
      background-image: url("https://media.contentapi.ea.com/content/dam/eacom/subscription/ea-play-platform-landing-page/images/2021/01/hero-medium-console-7x2-xl.jpg.adapt.crop7x2.1920w.jpg 1456w");
      background-size: cover;
    }
      .image-box{
        display: flex;
        
        flex-direction: column;
        justify-content: center;
        gap: 2.4vh;
        text-align: left;
       }
       .ea-play{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

       }
    
    /*Gestione Bottoni*/
.button{
border: 2px solid var(--ea-lightgrey);
border-radius: 3px;
position:relative;
font-family: suprabold;
height: 60px;
width: 200px;
display: flex;
align-items: center;
justify-content: center;
transition: 0.1s;
}
.black{
  border-color: var(--ea-black);
  color: var(--ea-black);
}
.button:hover {
transform: scale(103%);
}


  /*PARTE BLU */  
    .blue-bar{
    display: flex;
    width: 100%;
    height: 15vh;
    background-color: var(--footer-blue);
    justify-content: space-between;
    align-items: center;
   

    }
    
    /*PARTE GRIGIA*/  
    .grey-bar{
    background-color: var(--ea-lightgrey);
    display: flex;
    width: 100%;
    height: 180px;
    justify-content: space-between;
    }

    .links{
      display: flex;
      gap: 20px;  
    }

    .social-part{
      display: flex;
      flex-direction: column;
      padding-left: 120px;
      gap: 15px;
      
    }
    .logo{
      height: 20px;
      width: 20px;
      transition: 0.2s;
      opacity: 85%; 
     
    }
    .icone{
      display: flex;
      flex-direction: row;
      gap: 20px;  
    }
    .logo:hover{
      transform: scale(120%);
     
    }

    

    /*Parte Bianca*/

    .white-bar{
    background-color:var(--ea-white);
    width: 100%;
    height: 400px;
    
    }

    .first-white{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    


    #ea-logo{
      height: 55px;
      width: 55px;
      margin-bottom: 20px;
      display: flex;
    }
    #ea-logo2{
      margin-top: 20px;
      height: 55px;
      width: 55px;
      display: none;
    }
    .footer-list{
      display: flex;
      justify-content: space-around;
      gap: 40px;
    }
   

    .lingue-btn{
      border: 2px solid var(--ea-grey);
      padding: 15px;
      display: flex;
      justify-content: space-between;
      gap: 10px;
      
    }
    .lingua{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 9px;
    }
  #it{
    height: 25px;
    width: 25px;
  }
    #f-giu{
      height: 10px;
      width: 10px;
      display: block;
    }
    #f-su{
      height: 10px;
      width: 10px;
      display: none;
    }
.riga-footer{
  display: flex;
  margin-right: 15px;
  margin-top: 12px;
  column-gap: 24px;
  justify-content: left;

}

.trust{
  display: flex;
  flex-direction: row-reverse;
}




    
  