@import "../CSS/UTILS/variabili.css";


@font-face {
    src: url(../CSS/UTILS/FONT/SuperaGothic-Bold.otf);
    font-family: suprabold;
}

@font-face { 
    src: url(../CSS/UTILS/FONT/SuperaGothic-Regular.otf);
    font-family: supraregular ;
}

@font-face {
    font-family: suprathin;
    src: url(../CSS/UTILS/FONT/SuperaGothic-Thin.otf);
}

@font-face{
    src: url(../CSS/UTILS/FONT/SuperaGothic-Light.otf);
    font-family: supralight;
}
/*DEFAULT SETTINGS */
*{
    margin: 0;
    padding: 0;
    font-family: supraregular;
    box-sizing: border-box;
    color: var(--ea-black);
    }
    h1{
      font-size: 3vh;
      color: var(--ea-lightgrey);
    }
    h2{
    font-size: 3vh;
    font-family: supraregular; 
    }
    p{
    font-size:var(--default-font-size);
    color: var(--ea-lightgrey);
    line-height: 3.2vh;
    }
    footer{
      display: flex;
      flex-direction: column;
      }

    /*PRIMA PARTE */
    .back-image{
      background-image: url("https://media.contentapi.ea.com/content/dam/eacom/subscription/ea-play-platform-landing-page/images/2021/01/hero-medium-console-7x2-xl.jpg.adapt.crop7x2.1920w.jpg 1456w");
      height:50vh;
      width: 100%;
      display: flex;
  
      flex-wrap: wrap;
    }
    
      .image-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 12%;
        gap: 2.4vh;
        text-align: left;
       }
       .ea-play{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

       }
    
    /*Gestione Bottoni*/
.button{
border: 2px solid var(--ea-lightgrey);
border-radius: 0.6vh;
font-family: suprabold;
height: 8vh;
width: 20vh;
padding: 2%;
display: flex;
align-items: center;
justify-content: center;
transition: 0.1s;
}
.black{
  border-color: var(--ea-black);
  color: var(--ea-black);
}
.button:hover{
transform: scaleX(112%);
transform: scaleY(110%);
}


  /*PARTE BLU */  
    .blue-bar{
    display: flex;
    width: 100%;
    height: 15vh;
    padding: 1% 0% 1% 12%;
    background-color: var(--footer-blue);
    gap: 50vh;
    text-align: center;
    }
    


    /*PARTE GRIGIA*/  
    .grey-bar{
    background-color: var(--ea-lightgrey);
    display: flex;
    
    
    }
    .white-bar{
    background-color: var(--ea-lightgrey);
    
    }




    
 