@media(max-width:1920px){

  .image-bar{
    background-image: url("https://media.contentapi.ea.com/content/dam/eacom/subscription/ea-play-platform-landing-page/images/2021/01/hero-medium-console-7x2-xl.jpg.adapt.crop7x2.1920w.jpg 1456w");
    width: 100%;
    background-size: cover;
    display: flex;
  }
}

@media(max-width:1455px){
  .image-bar{
 background-image: url("https://media.contentapi.ea.com/content/dam/eacom/subscription/ea-play-platform-landing-page/images/2021/01/hero-medium-console-7x2-xl.jpg.adapt.crop5x2.1455w.jpg 1320w");
}
.links{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}




}


@media(max-width:1023px){
  .image-bar{
 background-image: url("https://media.contentapi.ea.com/content/dam/eacom/subscription/ea-play-platform-landing-page/images/2021/01/hero-medium-console-7x2-xl.jpg.adapt.crop2x1.1023w.jpg 1024w");
}
.blue-bar{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 3vh;
  width: 100%;
  height: 25vh;
  justify-content: center;
  }
  .grey-bar{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 10px;
    height: 320px;
  }
  hr{
    display: block;
  }
  
  .links{

    display: grid;
    grid-template-columns: 1fr 1fr;
  }
 .social-part{
    display: flex;
    padding-top: 40px;
    align-items: left;
  }




 .white-bar{
   display: flex;
   flex-direction: column;
 }
 
  #ea-logo{
    display: none;
    }
    #ea-logo2{
    display: block;
    margin-bottom: 20px;
    }
 .footer-list{
    display: flex;
    gap: 13px;
    
}
  .lingue-btn{
    margin-top: 25px;
    width: 700px;
  }

  
 



}




@media(max-width:768px){
    .main-padding{
    padding: 30px;
       }
    .image-bar{
      background-image: url("https://media.contentapi.ea.com/content/dam/eacom/subscription/ea-play-platform-landing-page/images/2021/01/hero-medium-console-7x2-xl.jpg.adapt.crop3x5.767w.jpg 768w");
      background-size: cover;
      height: 90vh;
      align-items: center;
      justify-content: center; 

  }
   
  
  .button{
    height: 6.6vh;
    width: 52vh;
  }
  .blue-bar{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3vh;
    width: 100%;
    height: 30vh;
    justify-content: center;
    }


    .grey-bar{
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: center;
      gap: 20px;
      height: 360px;
    }
    .links{

      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .social-part{
      padding-top:0;
    }
  
    hr{
      display: block;
    }

    .footer-list{
      display: grid;
      grid-template-columns: 50px 50px 100px;
      grid-template-rows: 20px 30px ;
      align-items: center;
      margin-top: 40px;
      font-family: suprabold;

    }
   

 .lingue-btn{
   display: flex;
   margin-left: 0;
   
 }
 h3{
  font-size: 12px;
 }
 



   }




  


